.clients {
    background-color: #f1f8ff;
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    &__link {
        display: inline-block;
        filter: grayscale(100%);
        transition: .2s ease;
        &:hover {
            filter: grayscale(0);
        }
    }
}