
.clients__header {
    text-align: center;
}

.wrapper-clients {
    background-color: #f1f8ff;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    
}
// .clients__bar {
//     // display: flex;
//     // align-items: center;
//     margin: 0 auto;
// }
.clients__list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
}
.clients__item {
    display: inline-block;
    padding: 0 45px;
}
.clients__img {
    filter: grayscale(100%);
}
.clients_link:hover + .clients__img {
    filter: grayscale(0);
}