.footer {
    padding: 0;
    background-color: $c-primary;
    position: relative;
    &__p {
        color: white;
        font-family: Lato;
        font-size: 50px;
        font-weight: 300;
    }
    &__span {
        font-weight: 700;
    }
}

.btn--foter {
    margin-left: 50px;  
    white-space: nowrap;
    max-width: 50%;
}
.conteiner--footer {
    display: flex;
    align-items: center;
}