.first
    span.about About Me
.second
    p.text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam repellat atque non voluptatibus necessitatibus? Ipsa illo eius aperiam eaque repellendus vero neque, eligendi commodi, rerum eum sint quos ut explicabo?