<!DOCTYPE html>
html(lang="en")
    body
    .clients
        .clients__container.container
            h2.clients__header Clients
            .clients__bar
                ul.clients__list
                    li.clients__item
                        a.clients__link(href="https://www.microsoft.com")
                            img.clients__img(src="./img/ms.png")
                    li.clients__item
                        a.clients__link(href="https://www.samsung.com")
                            img.clients__img(src="./img/samsung.png")
                    li.clients__item
                        a.clients__link(href="https://www.ibm.com")
                            img.clients__img(src="./img/ibm.png")
                    li.clients__item
                        a.clients__link(href="https://www.google.com/")
                            img.clients__img(src="./img/google.png")