<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
    .wrapper-clients
        .clients__container.container
            h2.clients__header Clients
            .clients__bar
                ul.clients__list
                    li.clients__item
                        a.clients__link(href="https://www.microsoft.com")
                            img.clients__img(src="./img/ms.png")
                    li.clients__item
                        a.clients__link(href="https://www.samsung.com")
                            img.clients__img(src="./img/samsung.png")
                    li.clients__item
                        a.clients__link(href="https://www.ibm.com")
                            img.clients__img(src="./img/ibm.png")
                    li.clients__item
                        a.clients__link(href="https://www.google.com/")
                            img.clients__img(src="./img/google.png")