//- cookies
<<<<<<< HEAD
//- a.btn(href="http://") hire me
=======
section.bg.bg--primary-dark.cookies
    .container
        .cookies__wrap
            .cookies__text
                p This site uses cookies, so that my service can work better.
            a(href="http://").btn.btn--small Accept
>>>>>>> 2f96659f32ca79748867efdb980f2e259615129a
