-var $description = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim '
section.expert
    .container
        h2.expert__first-caption Expert In
        .row
            each s_caption, img_number in ['MOBILE APP DESIGN', 'WEB DESIGN', 'WEB DEVELOPMENT', 'PRODUCT DESIGN', 'UX & UI', 'ANIMATIONS' ]
                .col.w-1-3
                    .expert__subsection
                        div(class="expert__img-wrap expert__img-"+img_number)
                        h3.expert__second-caption= s_caption
                        p.expert__description=$description
