head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Eskulap
  link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900', rel='stylesheet')
  link(rel='stylesheet', href='./css/normalize.css')
  link(rel='stylesheet', href='./css/style.css')
  link(rel='stylesheet', href='.')
.formbox
  .form--text
    h1.Hire__Me Hire Me
  .form
    form(action='', method='get')
      input.input(type='text', placeholder='      Your Name')
      input.input(type='text', placeholder='      Your E-Mail')
      textarea.textarea(name='', id='', cols='30', rows='10', placeholder='\
      Your Message')
      br
      input.submit(type='submit', value='SEND MESSAGE')