.formbox
	.form--text
		h1.Hire__Me Hire Me
	.form
		form(action='#', method='get')
			input.form__input(type='text', placeholder='Your Name')
			input.input(type='text', placeholder='Your E-Mail')
			textarea.form__input.form__input--textarea(name='', id='', cols='30', rows='10', placeholder='Your Message')
			br
			input.submit(type='submit', value='SEND MESSAGE')