div(data-remodal-id="hireme").remodal.popup
	.popup__block
		a.btn.btn--close(href="javascript:void(0)",  data-remodal-action="close")
		h2 Hire Me
		.form
			form(action="#", method="get")
				.form__field
					input.form__input(type="text", name="name", placeholder="Your Name")
				.form__field
					input.form__input(type="email", name="email", placeholder="Your Email")
				.form__field
					textarea.form__input.form__input--textarea(name="message", placeholder="Your Message")
				.form__field
					input.form__submit.btn.btn--secondary(type="submit", value="SEND MESSAGE")
