section.footer.bg.bg--primary
    .container.container--footer
        .footer__title
            h2 Need a graphic designer? 
                b Ready to work!
        a.btn.btn--normal(href="javascript:=void(0)" ) Hire me!