div(data-remodal-id="menu").remodal.menu
    .menu__col
        button(data-remodal-action="close").menu__close
            span.close-inner
        nav
            ul.menu__list
                li.menu__item
                    a.menu__anchor(href="javascript:void(0)") About Me
                li.menu__item
                    a.menu__anchor(href="javascript:void(0)") Services
                li.menu__item
                    a.menu__anchor.active(href="javascript:void(0)") My Works
                li.menu__item
                    a.menu__anchor(href="javascript:void(0)") Clients
        hr
        .menu__social.box-social
                a.box-social__anchore(href="javascript:void(0)") 
                    img.box-social__icon(src="img/facebook.png" alt="facebook")
                a.box-social__anchore(href="javascript:void(0)") 
                    img.box-social__icon(src="img/twitter.png" alt="twitter")
                a.box-social__anchore(href="javascript:void(0)") 
                    img.box-social__icon(src="img/ball.png" alt="ball")
                a.box-social__anchore(href="javascript:void(0)") 
                    img.box-social__icon(src="img/be.png" alt="be")
        .menu__lang.box-lang
            span.box-lang__label eng
            button.box-lang__flag
                img(src="img/flag.png" alt="flag")
