section.welcome
    .container
        .row
            .col.w-1-1.welcome__col
                button.hamburger
                    span.hamburger-inner
                .welcome__icon
                h1.welcome__title Free portfolio PSD template for graphic designers
                p.welcome__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                button.btn.welcome__btn Hire me
                a.welcome__anchor(href="javascript:void(0)")
                    img(src="img/arrow-down.png", alt="arrow-down")